@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --navbar-height: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.nav {
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.gd-bg {
  background: radial-gradient(88% 75% at 50% 50%, rgb(34, 96, 255) 37.445453265765764%, rgb(83, 117, 254) 83.41427364864865%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: var(--navbar-height);
  overflow-x: hidden;
  width: 100%;
}